button {
  margin-top: 10px;
  width: 32%;
}

h1 {
  color: #ef7917;
  margin-top: 35px;
  margin-bottom: 35px;
}

a {
  color: #ef7917 !important;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 10px;
  height: 50px;
  width: 32%;
  background-color: #282a2c;
  text-align: center;
  align-self: center;
}

@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
