@import url(https://fonts.googleapis.com/css?family=Anton&display=swap);

body {
  background-color: #ffff;
  font-family: anton;
  color: #ff7315;
  align-items: center;
}

.tap {
  position: static;
  font-size: 35px;
  width: 50%;
  margin-left: 30%;
  margin-top: 7%;
  margin-bottom: -12%;
}

li {
  list-style-type: none;
  margin-bottom: none;
  /* margin: 35%;
  margin-top: 5%; */
}

/* button {
  background-color: #ff7315;
  border: 1px solid rgb(235, 115, 60);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 2.5em;
  width: 24em;
  height: 4em;
  font-size: 15px;
  margin: none;
  position: relative;
} */

/* .a {
  font-size: 18px;
  color: #ffff;
  font-family: sans-serif;
} */
